<div class="row">
    <div class="col-md-8">

        <button type="button" class="btn btn-primary" routerLink="/post/add">Add Post</button>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of posts | async">
                <td>{{item.id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <button type="button" class="btn btn-primary" [routerLink]="['edit',item.id]">Update Post</button>&nbsp;
                <button type="button" class="btn btn-info" (click)="onDeletePost(item.id)">Delete Post</button>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    
    </div>
</div>

